footer 
    div(class="red-line")
    div(class="footer-container")
        div(class="footer-container__menu")
            p(class="footer-container__logo") DREAMSHARE
            div(class="footer-container__company")
                p(class="footer-container__company-header") Company
                p(class="footer-container__company-elem footer-container__company-elem--about") About 
                p(class="footer-container__company-elem") Contact 
                p(class="footer-container__company-elem") Press 
                p(class="footer-container__company-elem") Blog 
                p(class="footer-container__company-elem") Terms and  Privacy
                p(class="footer-container__company-elem") Help 
            p(class="footer-container__partners") Partners 
        div(class="footer-container__logo-bitmap")
            p(class="footer-container__designed") DESIGNED BY
            img(src="@img/Bitmap (1).png", alt="" class="footer-container__bitmap")