header 
    nav(class="navbar")
        a(class="navbar__logo" href="index.html") Dreamshare
        div(class="navbar__menu")
            a(class="navbar__log_in-link" href="#") Log in
            div(class="navbar__border-link")
                a(class="navbar__sign_in-link" href="#") Sign up
    div(class="heading")
        h1(class="heading__h1") SHARE YOUR HOLIDAY DREAM  
        p(class="heading__text") And find the perfect partner to fullfill it
        div(class="heading__button")
            p(class="heading__button-text") Find your holiday partner